<h1>New quiz_result</h1>

<% form_for(@quiz_result) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :userid %><br />
    <%= f.text_field :userid %>
  </p>
  <p>
    <%= f.label :module %><br />
    <%= f.text_field :module %>
  </p>
  <p>
    <%= f.label :quiz %><br />
    <%= f.text_field :quiz %>
  </p>
  <p>
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', quiz_results_path %>